<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Lecoib</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>vistaJornada.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorMostrarEmpleadoJSP</servlet-name>
    <servlet-class>controladores.ControladorMostrarEmpleadoJSP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorMostrarJornadas</servlet-name>
    <servlet-class>controladores.ControladorMostrarJornadas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorTurnos</servlet-name>
    <servlet-class>controladores.ControladorTurnos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorSolicitud</servlet-name>
    <servlet-class>controladores.ControladorSolicitud</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorBalance</servlet-name>
    <servlet-class>controladores.ControladorBalance</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorFichar</servlet-name>
    <servlet-class>controladores.ControladorFichar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorLogueo</servlet-name>
    <servlet-class>controladores.ControladorLogueo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorLogout</servlet-name>
    <servlet-class>controladores.ControladorLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorJornadas</servlet-name>
    <servlet-class>controladores.ControladorJornadas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorEstadistica</servlet-name>
    <servlet-class>controladores.ControladorEstadistica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarEmpleadoJSP</servlet-name>
    <url-pattern>/MostrarEmpleadoJSP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorMostrarJornadas</servlet-name>
    <url-pattern>/MostrarJornadas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorTurnos</servlet-name>
    <url-pattern>/turno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorSolicitud</servlet-name>
    <url-pattern>/solicitud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorBalance</servlet-name>
    <url-pattern>/estadistica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorFichar</servlet-name>
    <url-pattern>/ficha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorLogueo</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorJornadas</servlet-name>
    <url-pattern>/jornadas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorEstadistica</servlet-name>
    <url-pattern>/generarBalances</url-pattern>
  </servlet-mapping>
</web-app>